
  h1{
    margin-top:20px;
    font-family: 'Indie Flower', cursive;
  }

  
  button{
    margin-top:30px;
    text-align:center;
  }
  


  
  .form-control{
    font-size:1.2em;
  }
  
  .container-fluid{
    background:#efefef;
    margin-top:30px;
    padding-bottom:30px;
  }
  
  .container-fluid:last-of-type{
    background:#fff;
    padding-bottom:30px;
  }
  
  .container, .card-deck{
    margin-top:30px;
  }
  
  